<?xml version="1.0" encoding="iso-8859-1"?>
<config>
	<info>
		<id>${extension.id}</id>
		<type>${extension.type}</type>
		<name>cfsshd-${extension.version}-extension</name>
		<label><![CDATA[${extension.label}]]></label>
		<codename><![CDATA[${extension.codename}]]></codename>
		<description><![CDATA[${extension.description}]]></description>
		<sources><![CDATA[${extension.sources}]]></sources>
		<author><![CDATA[${extension.author}]]></author>
		<category><![CDATA[${extension.category}]]></category>
		<image>${extension.image}</image>
		<support><![CDATA[${extension.support}]]></support>
		<documentation><![CDATA[${extension.documentation}]]></documentation>
		<mailinglist><![CDATA[${extension.mailinglist}]]></mailinglist>
		<created>${build.date}</created>
		<version>${extension.version}</version>
		<packaged-by><![CDATA[${extension.packagedby}]]></packaged-by>
		<paypal><![CDATA[${extension.paypal}]]></paypal>
		<licensetemplate>${extension.license}</licensetemplate>
	</info>
	<step label="" description="">
		<group label="Settings" description="Some general settings used for the application">
			<item name="isBuiltInTag" label="Install as built-in tag" type="checkbox"
				selected="false" description="install as a built-in tag">true</item>
			<item name="installTestPlugin" label="Install the test as a plugin"
				type="checkbox" selected="true" description="add the test plugin">true</item>
		</group>
	</step>
</config>